<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elmore Mais</title>
</head>
<body>
    <h1 style="text-align: center;">Cadastro</h1>  <img style="width: 70px; position: absolute; top: 0%;" src="http://www.pngmart.com/files/13/Nicole-Watterson-The-Amazing-World-of-Gumball-PNG-Photos.png" alt="Elmore Mais">  <br><hr><br> 
    
    <form action="/cadastro" method="post">
            
        <div class="card" style="margin: 3%;">
            <div class="card card-body">
                <label for="name">Nome:</label>
                    <input class="form-control" type="name" name="name" id="name" placeholder="Escreva Seu Nome Aqui..." required><br>
                <label for="email">Email:</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Escreva Seu Email Aqui..." required><br>
                <label for="password">Senha:</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Crie uma Senha Aqui..." required><br>
            </div>
            <button class="btn btn-success">Confirmar</button>
        </div>

    </form>
    <small>Depois dessa pagina voce tera q se logar nessa conta que acabou de criar*</small>
</body>
</html>
<script src="/js/bootstrap.js"></script>
